{% extends '../base.html' %}
    <head>
        {% block extrahead %}
            <link rel="stylesheet" href="../../static/css/base.css">
        {% endblock %}
    </head>
    {% block content %}
        <a href="{% url 'scout:user' %}">전체</a>
        <a href="{% url 'scout:user_search' 'Developer' %}">개발자</a>
        <a href="{% url 'scout:user_search' 'Designer' %}">디자이너</a>
        <a href="{% url 'scout:user_search' 'Planner' %}">기획자</a>
        <a href="{% url 'scout:user_search' 'Editor' %}">편집자</a>

        <input type="text" name="text"/>
        <button onclick="search()">검색</button>

        <script>
            function search() {
                location.href = "/scout/search/text/" + document.getElementsByName("text")[0].value
            }
        </script>

        {% block users %}
            {% for instance in users %}
                <p>{{instance.name}}</p>
                <a href="{% url 'scout:create_like' instance.id %}">찜하기</a>
                <a href="{% url 'scout:delete_like' instance.id %}">찜해제</a>
                <a href="{% url 'mypf:profile' instance.id %}">자세히</a>
            {% endfor %}
        {% endblock %}
    {% endblock %}