{% extends 'scout/user.html' %}
<head>
    {% block extrahead %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/team_build/team_build.css' %}">
        <link rel="stylesheet" href="{% static 'css/scout/user.css' %}">
        <style>
            .logo-img {
                background-image: url('{% static "img/logo.png" %}');
            }

            .profile-img {
                background-image: url('{% if user.is_anonymous %} ../../media/image/users/none/profile_default.png {% else %} ../../media/{{current_user.image}} {% endif %}');
            }
        </style>
    {% endblock %}
</head>
    {% block users %}
        {% for user_instance in users %}
        <div class="user-card" onclick="location.href='/portfolio/{{user_instance.id}}'">
            <div class="card-nav">
                <a href="{% url 'chat:create_chat_room' user.id user_instance.id %}">
                    <div class="chat" style="background-image: url('../../static/img/scout/chat.png');"></div>
                </a>
                <a href="{% if user.is_authenticated %} {% url 'scout:user_like' user_instance.id %} {% else %} {% url 'users:login' %} {% endif %}">
                    <div class="wish" style="background-image: url('../../static/img/scout/like.png');"></div>
                </a>
            </div>
            
            <hr>

            <img class="user-img" src="../../media/{{user_instance.image}}" alt="프로필 사진">
            
            <div class="user-name">
                {{user_instance.name}}
            </div>
    
            <div class="user-address">
                {{user_instance.get_address_sido_display}}
            </div>
            
            <div class="card-content"> 
                <p class="user-info">
                    <br>
                    #{{user_instance.get_role_display}} #{{user_instance.get_state_display}}
                    <br><br>
                </p>
            
                <div class="user-intro">
                    {{user_instance.intro}}
                </div>
            </div>
        </div>
        {% endfor %}
    {% endblock %}