{% extends 'base.html' %}
    <head>
        {% load static %}
        {% block extrahead %}
        <link rel="stylesheet" href="../../static/css/base.css">
        <link rel="stylesheet" href="../../static/css/users/signup.css">
        {% endblock %}
    </head>
{% block content %}
    <h1>회원가입 페이지</h1>
    <form action="{% url 'users:signup' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">회원가입</button>
    </form>

    <div class="container">
        <div>box</div>
        <div>box</div>
        <div>box</div>
        <div>box</div>
        <div>box</div>
        <div>box</div>
        <div>box</div>
        <div>box</div>
        <div>box</div>
        <div>box</div>
    </div>
{% endblock %}