<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users/signup.css' %}">
    <title>회원가입</title>
</head>
<body>
    <div class="signup-container">
        <div>
            <a class="logo" href="{% url 'main:main' %}">
                <img src="../../static/img/logo.png" alt="">
            </a>
            <h2 class="signup-title">회원가입</h2>
            <form action="{% url 'users:signup' %}" method="post" id="signup-form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div>
                    <p class="input-title">{{field.label}}</p>
                    {{field}}
                </div>
                {% endfor %}
            </form>
        </div>
    <button class="signup btn" type="submit" form="signup-form">회원가입</button>
    </div>
</body>
