{% extends 'base.html' %}
    <head>
        {% load static %}
        {% block extrahead %}
        {% endblock %}
    </head>
{% block content %}
    <p>제목 : {{obj.title}}</p>
    <p>팀 이름 : {{obj.team_name}}</p>
    <p>서비스 : {{obj.service}}</p>
    <p>팀원 : {{obj.get_team_members_display}}</p>
    <p>서비스 레벨 : {{obj.get_service_level_display}}</p>
    <p>지역 : {{obj.get_locate_display}}</p>
    <p>이미지 : {{obj.image}}</p>
    <p>역할 : {{obj.get_role_display}}</p>
    <p>세부사항 : {{obj.detail}}</p>
    <p>글쓴이 : {{obj.writer}}</p>

    
    {% if obj.writer == user.username %}
        <a href="{% url 'team_build:update_recruit' id %}">수정하기</a>
        <a href="{% url 'team_build:delete_recruit' id %}">삭제하기</a>
    {% endif %}

{% endblock %}