{% extends '../base.html' %}
    <head>
        {% load static %}
        {% block extrahead %}
        <link rel="stylesheet" href="../../static/css/base.css">
        <link rel="stylesheet" href="../../static/css/team_build/team_build.css">
        <style>
            .logo-img {
                background-image: url('../../static/img/logo.png');
            }

            .profile-img {
                background-image: url('{% if user_instance %}../../media/{{user_instance.image}} {% else %} ../../media/users/none/profile_default.png {% endif %}');
            }
        </style>
        {% endblock %}
    </head>
    {% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="message-container">                                
                <h1>{{ message.tags}}</h1>
                <br>
                {{ message.message }}
                <br><br>
                <a href="{% url 'recruit:team_build' %}">확인</a>
            </div>
        {% endfor %}
    {% endif %}

    <div>
        <a class="create-img" href="{% url 'team_build:create_recruit' %}">
            <div style="background-image: url('../../static/img/team_build/create_recruit_icon.png');"></div>
        </a>
        <div class="search-box">
            <div class="search-container">
                <p>어떤 프로젝트를 찾으시나요?</p>
                <div class="search-wrapper">
                    <a href="{% url 'team_build:team_build' %}">전체</a>
                    <a href="{% url 'team_build:recruit_role_search' 'Developer' %}">개발자</a>
                    <a href="{% url 'team_build:recruit_role_search' 'Planner' %}">기획자</a>
                    <a href="{% url 'team_build:recruit_role_search' 'Designer' %}">디자이너</a>
                    <a href="{% url 'team_build:recruit_role_search' 'Editor' %}" style="margin-right: 0;">편집자</a>
                    <div class="stick">|</div>
                    <select name="" id="" onchange="location.href='/recruit/team_build/location_search/'+this.value">
                        <option value="">시/도</option>
                        <option value="서울">서울특별시</option>
                        <option value="부산">부산광역시</option>
                        <option value="인천">인천광역시</option>
                        <option value="대구">대구광역시</option>
                        <option value="광주">광주광역시</option>
                        <option value="대전">대전광역시</option>
                        <option value="울산">울산광역시</option>
                        <option value="세종">세종시</option>
                        <option value="경기">경기도</option>
                        <option value="강원">강원도</option>
                        <option value="충남">충청남도</option>
                        <option value="충북">충청북도</option>
                        <option value="경북">경상북도</option>
                        <option value="경남">경상남도</option>
                        <option value="전북">전라북도</option>
                        <option value="전남">전라남도</option>
                        <option value="제주">제주도</option>
                    </select>
                    
                    <form action="" method="get">
                        <input type="text" name="q" placeholder="검색어를 입력하세요.">
                        <button type="submit"></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="list-container">
            {% block posts %}
                {% for post in recruit_list %}
                    <div class="recruit-post">
                        <a class="recruit-img" href="{% url 'team_build:detail_recruit' post.id %}">
                            <div 
                            style="background-image: url('../../media/{{post.image}}');" 
                            ></div>
                        </a>
                        <a class="recruit-content" href="{% url 'team_build:detail_recruit' post.id %}">
                            <div>
                                <p class="recruit-title">{{post.title}}</p>
                                <p class="recruit-writer">{{post.writer}}</p>
                            </div>
                            <p class="recruit-hashtag">
                                #{{post.service}}&nbsp&nbsp&nbsp
                                #{% for role in post.get_role_display %}{{role}}{% endfor %}&nbsp&nbsp&nbsp
                                #{{post.get_locate_display}}
                            </p>
                            <p class="recruit-detail">{{post.detail}}</p>
                        </a>
                        
                        <a class="recruit-like" href="{% if user.is_authenticated %} {% url 'team_build:recruit_like' post.id %} {% else %} {% url 'users:login' %} {% endif %}">
                            <div style="background-image: url('../../static/img/like_icon.png');"></div>
                        </a>
                    </div>
                {% endfor %}
            {% endblock %}
            <div class="page-container"> 
                <div class="page-wrapper">
                    {% for page in page_range %}
                        <a class="page-box" href="?page={{page}}">{{page}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>   
    {% endblock %}