.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    background-color: blanchedalmond;

}
.container > div {
    height: 18%;
    border: 1px black solid;
}