.detail-container {
    width: 80%;
    margin: 40px auto;
}

.pf-btn {
    float: right;

    padding: 5px;

    border: 1px solid;
    border-radius: 3px;
}

.update {
    margin-right: 6px;
    border-color: #3C64B1;
    color: #3C64B1
}

.update:hover {
    color: #FFFFFF;
    background-color: #3C64B1;
}

.delete {
    border-color: #ED1C24;
    color: #ED1C24;
}

.delete:hover {
    color: #FFFFFF;
    background-color: #ED1C24;
}

.btn-container::after {
    content: "";
    display: block;
    clear: right;
}

.detail-title {
    font-size: 30px;
    line-height: 40px;
    /* or 133% */

    letter-spacing: 0.2px;

    color: #000000;
}

.detail-container > hr {
    width: 50px;
    height: 0;

    margin: 10px 0;

    border: 2px solid #FDD33F;
}

.detail-content {
    margin: 50px 0;
}