{% extends 'base.html' %}
    <head>
        {% load static %}
        {% block extrahead %}
        {% endblock %}
    </head>
{% block content %}
    <p>제목 : {{obj.title}}</p>
    <p>팀 이름 : {{obj.team_name}}</p>
    <p>서비스 : {{obj.service}}</p>
    <p>팀원 : {{obj.team_members}}</p>
    <p>서비스 레벨 : {{obj.service_level}}</p>
    <p>지역 : {{obj.locate}}</p>
    <p>이미지 : {{obj.image}}</p>
    <p>역할 : {{obj.role}}</p>
    <p>세부사항 : {{obj.detail}}</p>
    <p>글쓴이 : {{obj.writer}}</p>

    
    {% if obj.writer == user.username %}
        <a href="">수정하기</a>
        <a href="{% url 'delete' id %}">삭제하기</a>
    {% endif %}

{% endblock %}