.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.back-box {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(60, 100, 177, 1);
}
.top-box.index {
    border-bottom: 1px solid rgba(60, 100, 177, 1);
    display: flex;
    align-items: center;
}
.top-box.index > div {
    padding-left: 15px;
}
#user-name {
    display: inline;
    margin-left: 10px;
    font-weight: bold;
}
.top-box.chat {
    background-color: rgba(228, 237, 255, 1);
}
.top-box {
    width: 100%;
    height: 64px;
}
.top-box > .row > .chat-profile-img {
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 2%;
}
.top-box > .row > .col > .row {
    align-items: flex-end;
    padding-top: 8px;
    margin-bottom: 7px;
}
.top-box > .row > .col > .row > #name {
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;

}
.top-box > .row > .col > .row > #location {
    font-size: 10px;
    color: gray;
}
.top-box > .row > .col > #role-state {
    font-size: 13px;
}
.index-box {
    border-right: 1px solid rgba(60, 100, 177, 1);
    width: 300px;
    height: 580px;
    overflow-y: auto;
}
.index-item {
    font-size: 14px;
    height: 55px;
    padding: 5px;
    padding-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid rgb(241, 241, 241);
}
.index-item:hover {
    background-color: rgb(230, 230, 230);
}
.chat-profile-img {
    width: 45px;
    height: 45px;
    /* background-color: rgb(192, 192, 192); */
    background-image: url('../../../media/profile_default.png');
    border-radius: 100%;
}
.chat-preview {
    padding-left: 12px;
}

.chat-room-box {
    width: 100%;
    padding-bottom: 15px;
}
.chat-log {
    height: 420px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    overflow-y: auto;
}
.chat-box {
    display: inline;
    border-radius: 11px;
    padding: 8px;
    font-size: 12px;
}

.chat-log > .left {
    text-align: left;
    margin: 8px;
}
.chat-log > .right {
    text-align: right;
    margin: 20px;
}
.col > p {
    background-color: rgba(228, 237, 255, 1);
}
.right > p {
    background-color: rgba(60, 100, 177, 1);
    color: white;
}
.chat-input-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bold {
    font-size: 14px;
    font-weight: bold;
}
#chat-message-input {
    width: 90%;
    height: 30px;
    border: 1px solid rgba(60, 100, 177, 1);
    border-radius: 10px;
    margin-right: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
#chat-message-input:focus {
    outline: none;
}
#chat-message-submit {
    border: none;
    border-radius: 10px;
    background-color: rgba(60, 100, 177, 1);
    color: white;
}