{% extends '../base.html' %}
    <head>
        {% load static %}
        {% block extrahead %}
        <link rel="stylesheet" href="../../static/css/main/main.css">
        {% endblock %}
    </head>
    {% block content %}
    <div>
        <div class="first-section">
            <div>
                <div class="first-section-img"></div>
                <div class="descript">
                    <p>ABOUT US</p>
                    <h2>서비스 소개</h2>
                    <p><strong>(서비스명)</strong>은 프로젝트 팀 빌딩 플랫폼입니다.<br>
                        프로젝트를 함께 할 <strong>최고의 팀원을 모집</strong>할 수 있으며, <br>
                        <strong>포트폴리오</strong>를 등록한다면 나를 원하는 팀으로부터 <strong>스카우트 제의</strong>를 받을 수 있습니다. <br>
                        성공적인 팀 프로젝트의 시작을 <strong>(서비스명)</strong>과 함께 해보세요!
                    </p>
                    <a href="">
                        자세히
                    </a>
                </div>
            </div>
        </div>
        
        <div class="second-section">
            <div>
                <div class="descript2">
                    <h3>
                        처음 팀 프로젝트를<br>
                        시작하는 유저들을 위한 정보 제공
                    </h3>
                    <div class="descript-card">
                        <div>
                            <div class="second-section-logo"
                            style="background-image: url('../../static/img/main/second_section_icon1.png');"></div>
                            <p>
                                팀 빌딩 페이지에서 프로젝트 팀원 모집글을 게시하고 조회할 수 있습니다. 최적의 조건을 만족하는 프로젝트 팀을 찾아 보세요.
                                스카우트 페이지에서는 1:1 연락이 가능합니다. 프로젝트에 필요한 인재에게 적극적으로 다가갈 수 있습니다.
                            </p>
                        </div>
                        <div>
                            <div class="second-section-logo"
                            style="background-image: url('../../static/img/main/second_section_icon2.png');"></div>
                            <p>
                                마이 포트폴리오 페이지에서 자신의 작업물을 관리할 수 있습니다. 이 곳에서 편집한 포트폴리오는 스카우트 페이지를 통해 다른 사용자들에게 노출됩니다.
                            </p>
                        </div> 
                    </div>
                    
                </div>
                
                <div class="second-section-img"></div>
            </div>
        </div>
    </div>
    {% endblock %}