{% extends '../base.html' %}
    <head>
        {% load static %}
        {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/mypf/profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/mypf/detail_pf.css' %}">
        <link rel="stylesheet" href="../../../../static/css/base.css">
        <style>
            .profile-img {
                background-image: url('{% if user.is_authenticated %} ../../../media/{{user_instance.image}} {% endif %}');
            }
        </style>
        {% endblock %}
    </head>
{% block content %}
<div>
    <img class="profile-back" src="../../../../static/img/profile_back.png">
    <div class="profile-container">
        <img src="../../../../media/{{user_instance.image}}"alt="프로필 사진">
        
        <div class="name-container">
            <p>{{user_instance.name}}</p>
        </div>
    </div>

    <div class="detail-container">
        {% if user == pf.user_id %}
        <div class="btn-container" style="width: 100%;">
            <a class="pf-btn delete" href="{% url 'mypf:delete_pf' user_id pf_id %}">삭제</a>
            <a class="pf-btn update" href="{% url 'mypf:update_pf' user_id pf_id %}">수정</a>
        </div>
        {% endif %}
        <p class="detail-title">{{pf.title}}</p>
        <hr>
        <div class="detail-content">
            {{pf.detail|safe}}
        </div>
    </div>
</div>
{% endblock %}