{% extends 'base.html' %}
    <head>
        {% load static %}
        {% block extrahead %}
        <link rel="stylesheet" href="../../static/css/base.css">
        <link rel="stylesheet" href="../../static/css/mypf/profile.css">
        <style>
            .profile-img {
                background-image: url('{% if user.is_authenticated %} ../../media/{{user_instance.image}} {% endif %}');
            }
        </style>
        {% endblock %}
    </head>
{% block content %}
<div>
    <img class="profile-back" src="{% if obj.id == user.id %}../../static/img/mypf/back_img.png {% else %}../../static/img/profile_back.png {% endif %}">
    <div class="profile-container">
        <img src="../../media/{{obj.image}}"alt="프로필 사진">
        
        <div class="name-container">
            <p>{{obj.name}}</p>
        </div>
    </div>

    <div class="info-container">
        <div class="spec">
            <div>
                <div class="spec-title">
                    <p>PORFILE</p>
                    <a href=""></a>
                </div>
                
                <strong>생년월일 </strong>{{obj.birth_date}} <br>
                <strong>거주지역 </strong>{{obj.address_sido}} {{obj.address_gungu}} <br>
                <strong>직무 </strong>{{obj.get_role_display}} <br>
                <strong>경력 </strong>{{obj.get_career_display}}
            </div>
            <div>
                <div class="spec-title">
                    <p>FIELD</p>
                    <a href=""></a>
                </div>    
                
                <strong>#{{obj.get_role_display}}</strong>
            </div>
        </div>

        <div class="portfolio">
            <div class="spec-title">
                <p>포트폴리오 게시물 리스트</p>
                {% if user.id == user_id %}
                <a href="{% url 'mypf:create_pf' user_id %}">
                    <img src="../../static/img/mypf/edit_icon.png" alt="">
                </a>
                {% endif %}
            </div>

            {% if pfs %}
            <div class="pf-box">
                {% if pfs.has_previous %}
                <a href="?page={{pfs.previous_page_number}}">
                    <div class="pf-btn2 previous" style="background-image: url('../../static/img/mypf/pf_prev.png');"></div>
                </a>
                {% else %}
                <div class="pf-btn2"></div>
                {% endif %}

                <div class="pf-list">
                {% for pf in pfs %}
                    <a href="{% url 'mypf:detail_pf' user_id pf.id %}">
                        <div class="pf">
                            {% if pf.image %}
                            <img class="pf-img" src="../../media/{{pf.image}}" alt="">
                            {% else %}
                            <div class="pf-img" src="" alt=""></div>
                            {% endif %}
                            <p>{{pf.title}}</p>
                        </div>
                    </a>
                {% endfor %}  
                </div>

                {% if pfs.has_next %}
                    <a href="?page={{pfs.next_page_number}}">
                        <div class="pf-btn2 next" style="background-image: url('../../static/img/mypf/pf_next.png')"></div>
                    </a>
                {% else %}
                <div class="pf-btn2"></div>
                {% endif %}

            </div>
            {% endif %}  
        </div>
    </div>
</div>
{% endblock %}