{% extends '../base.html' %}
<head>
    {% load static %}
    {% block extrahead %}
    <link rel="stylesheet" href="../../static/css/mypage/mypage.css">
    {% endblock %}
</head>
{% block content %}
    <div class="mypage-background-img"></div>

    <div class="profile-box">
        <div class="profile-img"></div>
        <div class="profile-content">
             <div class="profile-content-item" style="font-size: 17px; font-weight: bold;">{{user.name}}</div>
             <div class="profile-content-item">{{user.intro}}</div>
       </div>
    </div>

    <div class="content-menu-box">
        <button class="content-menu-btn" box_id="1" onclick="menuBtn(this)" style="background-color: rgba(228, 236, 245, 1);">내가 쓴 글 / 댓글</button>
        <button class="content-menu-btn" box_id="2" onclick="menuBtn(this)">내가 찜한 글 / 유저</button>
    </div>
    
    <div class="content-back">
        <div class="content-box box1">
            <div class="content-box-title">내가 쓴 글</div>
            {% for recruit in my_recruits %}
                <div class="content-box-item" onclick="location.href='/recruit/detail_recruit/{{recruit.id}}/'">
                    <div class="content-box-item-img" style="background-image: url('../../media/{{recruit.image}}');"></div>
                    <div class="col">
                        <div class="row">
                            <div class="title">{{recruit.title}}</div>
                            <div class="writer">{{recruit.writer}}</div>
                        </div>
                        <div class="role-location"># {{recruit.get_role_display}} # {{recruit.get_locate_display}}</div>
                        <div class="detail">{{recruit.detail}}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="content-box-title">내가 쓴 댓글</div>
        </div>
        <div class="content-box box2" style="display: none;">
            <h1>Box2</h1>
        </div>
    </div>

    <script type="text/javascript" src="../../../static/js/mypage/mypage.js"></script>
{% endblock %}