@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&display=swap');

/* default style */
body, html {
    margin: 0;
    padding : 0;
    
    font-family: 'Mulish', sans-serif;
}

a {
    /* a태그 기본 스타일 (밑줄) 제거 */
    text-decoration: none;
}

/* widgets style */
/* nav bar */

/* nav-container */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F3F6FA;

    width: 100%;
    height: 88px;
}

.logo {
    float: left;
}

.logo-img {
    width: 116px;
    height: 32px;

    background-repeat: no-repeat;
    background-size: contain;
}

/* nav-wrapper */
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 77vw;
    height: 42px;

    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* logo */

/* url-container */
.url-container {
    display: flex;
    justify-content: space-between;
    
    width: 280px;
    /* margin-left: 10vw; */
    margin: 0 0 0 10%;
}

.url-container > a {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;

    /* font style */
    color: #373F41;

    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.url-container > a:hover {
    color: #3C64B1;
}

/* user-container */
.user-container {
    width: 23%;
    display: flex;
    align-items: center;
}

.chat-img {
    width: 23px;
    height: 23px;
    margin-right: 20px;

    background-image: url('../img/nav_chat.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.anonymous {
    display: inline-block;
    margin-right: 5px;
}

.profile-img {
    width: 24px;
    height: 24px;
    margin-right: 7px;

    border-radius: 50%;

    background-repeat: no-repeat;
    background-size: cover;
}

.user-container > .user-name {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;

    /* font style */
    color: #000000;
    
    font-weight: normal;
    font-size: 17px;
    line-height: 40px;
}

.user-container > .logout {
    margin-left: 10%;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: -0.01em;

    color: #3C64B1;
}

.btn {
    width: 89px;
    height: 42px;

    padding: 12px 18px;

    /* font style */
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.login {  
    color: #3C64B1;
}

.signup {
    color: #FFFFFF;
    background: #3C64B1;
}

.logout {
}

footer {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100px;

    background: #9CB0D7;
}

footer > div {
    display: flex;
    align-items: center;
    justify-content: center;

    float: left;
    height: 100%;
    text-align: center;
}

footer > div:first-child {
    width: 15%;
}

footer > div:nth-child(2) {
    width: 70%;

    font-size: 12px;
    line-height: 16px;

    color: #F5F5F5;
}

footer > div > img {
    margin: auto;
    width: 103px;
    height: 29px;
    object-fit: contain;
}
