{% extends 'base.html' %}
    <head>
        {% load static %}
        {% block extrahead %}
        <meta charset="utf-8"/>
        <title>Chat Room</title>
        {% endblock %}
    </head>
    {% block content %}
        <div id="user-name" style="display: none;">{{user.name}}</div>

        <textarea id="chat-log" cols="100" rows="20" readonly>
{% for chat_log in chat_logs %} 
{{chat_log.chat_text}}
{% endfor %}</textarea><br>
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send">
        {{ room_name|json_script:"room-name" }}

        <script type="text/javascript" src="{% static '/chat/js/chat.js' %}?ver=20200802"></script>
    {% endblock %}